.navbar{
  background-color:rgba(0, 16, 29, 0.952);
}

/* MOVIES STYLES */

.kenburns-top{
  background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/8870913E623C4000F398A9714D64A1B7324CC70B721C0A4C0EAC0B38B9FD5639/scale?width=2880&aspectRatio=1.78&format=jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.gray img{
  -webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.gray:hover img{
  -webkit-filter: grayscale(0);
filter: grayscale(0);
}

/* PROGRAMAS STYLE */
.foto{
  background-image: url('https://wallpapercave.com/wp/wp5680617.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
/* PERSONAS STYLE */
.gradiente2{
  background: linear-gradient(to bottom, rgba(0, 16, 29, 0.952), rgb(255, 255, 255));
}
/* UPCOMING STYLES */
.gradient{
  background: linear-gradient(to top, rgba(0, 16, 29, 0.952), rgb(255, 255, 255));
}
.trending{
  padding-right: 4rem!important;
}
.upcoming{
  padding-right: 4rem!important;
}