h3 {
    background: primary-color;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }
  .variable-width .slick-slide p {
    background: primary-color;
    height: 100px;
    color: #fff;
    margin: 5px;
    line-height: 100px;
    text-align: center;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
  }
  .center h3{
    opacity: 0.8;
    transition: all 300ms ease;
  }
  .content {
    padding: 20px;
    margin: auto;
    width: 90%;
  }
  .slick-slide .image {
    padding: 10px;
  }
  .slick-slide img {
    border: 5px solid #FFF;
    display: block;
    margin: auto;
  }
  .slick-slide img.slick-loading {
    border: 0
  }
  .slick-slider {
    margin: 30px auto 50px;
  }
  .slick-dots {
    margin-left: 0;
  }
  .slick-thumb {
    bottom: -45px;
    /* li {
      width: 60px;
      height: 45px;
      img {
        filter: grayscale(100%);
      }
      &.slick-active {
        img {
          filter: grayscale(0%);        
        }
      }
    } */
  }
  @media (max-width: 768px) {
    h3 {
      font-size:24px;
    }
    .center {
      margin-left: -40px;
      margin-right: -40px;
    }
    .center .slick-center h3 {
      color: #e67e22;
      opacity: 1;
      transform: scale(1);
    }
    .center h3 {
      opacity: 0.8;
      transform: scale(0.95);
      transition: all 300ms ease;
    }
  }
  .slick-vertical .slick-slide {
    height: 180px;
  }

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color:red !important;
}

/* MOVIES STYLES */

.kenburns-top{
  background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/8870913E623C4000F398A9714D64A1B7324CC70B721C0A4C0EAC0B38B9FD5639/scale?width=2880&aspectRatio=1.78&format=jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.gray img{
  -webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.gray:hover img{
  -webkit-filter: grayscale(0);
filter: grayscale(0);
}

/* PROGRAMAS STYLE */
.foto{
  background-image: url('https://wallpapercave.com/wp/wp5680617.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
/* PERSONAS STYLE */
.gradiente2{
  background: linear-gradient(to bottom, rgba(0, 16, 29, 0.952), rgb(255, 255, 255));
}